body {
    font-family: "Calibri", "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
       }
p1 {
    font-family: "Calibri", "Trebuchet MS", Helvetica,sans-serif;
    font-size: 1.5em;
    text-align: center;
}

 p2 {
    font-family: "Calibri", "Trebuchet MS", Helvetica,sans-serif;
    text-align: center;
}

div {
    font-family: "Calibri", "Trebuchet MS", Helvetica,sans-serif;
    text-align: center;
}